@font-face {
    font-family: 'Enchanted Land';
    src: url('fonts/EnchantedLand.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: visible;
}

html.modal-abierto {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    user-select: none;
}

#fondo1 {
    left: 0%;
    top: -1%;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    /*Depende de dispositivo*/
    filter: blur(3px);
}

#fondo2 {
    top: 0;
    left: -98%;
    z-index: -1;
    position: absolute;
    width: 200%;
    height: 570vh;
    /*Depende de dispositivo*/
    filter: blur(6px);
}

#fondo3 {
    top: 0;
    left: -12%;
    z-index: -1;
    position: absolute;
    width: 113%;
    height: 100vh;
    /*Depende de dispositivo*/
    filter: blur(4px);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #ffbf80;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#a52112, #ff8401, #ffbf80);
    border-radius: 10px;
}